APP_BASE_URL=http://localhost #Domain name
APP_BASE_URL_DEV=http://localhost:5173 # Development URL

POSTGRES_USER= user #Database username for PostgreSQL
POSTGRES_DB= db #Database name for PostgreSQL

KC_DB_USER= kc_db #Keycloak database username
KC_ADMIN_USER= admin #Keycloak admin username
KC_DB_PASSWORD= password #Database password for Keycloak
KC_ADMIN_PASSWORD= password #Admin password for Keycloak
KC_HOSTNAME= ${APP_BASE_URL} #Hostname for Keycloak, should match the APP_BASE_URL

KC_FRONTEND_SECRET=KC_FRONTEND_SECRET #Client secret for Keycloak frontend client
KC_ADMIN_CLIENT_SECRET=KC_ADMIN_CLIENT_SECRET #Client secret for Keycloak admin client

NGINX_CONF=nginx/default.http.conf #Path to the Nginx configuration file for the frontend


# R2 STORAGE ONLY [NOT REQUIRED with Local Storage]
STORAGE_PROVIDER=Local #Storage provider, set to R2 for Cloudflare R2 storage
CF_ACCOUNT_ID= ##Cloudflare account ID for R2 storage
CF_BUCKET_NAME= #Cloudflare R2 bucket name for storing avatars
CF_PUBLIC_URL= #Public URL for Cloudflare R2 bucket