APP_BASE_URL= #Domain name ex. https://chessite.tailf13eb6.ts.net

POSTGRES_USER= #Database username for PostgreSQL
POSTGRES_DB= #Database name for PostgreSQL

CF_ACCOUNT_ID= #Cloudflare account ID for R2 storage
CF_BUCKET_NAME= #Cloudflare R2 bucket name for storing avatars
CF_PUBLIC_URL= #Public URL for Cloudflare R2 bucket

KC_DB_USER= #Keycloak database username
KC_ADMIN_USER= #Keycloak admin username
KC_DB_PASSWORD= #Database password for Keycloak
KC_ADMIN_PASSWORD= #Admin password for Keycloak
KC_HOSTNAME= ${APP_BASE_URL} #Hostname for Keycloak, should match the APP_BASE_URL


KC_ADMIN_CLIENT_SECRET= #Client secret for Keycloak admin client